<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halo Infinite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

    <style>
        .input-group {
            width: 33%;
        }
        .card {
            background-color: #430891;
            color: white;
        }
        .card-text {
            margin-bottom: 0;
        }
        [v-cloak] {
            display: none;
        }
    </style>


    <div id="app" v-cloak>
        <div class="d-flex justify-content-center">
            <div class="input-group mt-3">
                <input v-model="playerName" type="text" class="form-control" placeholder="Enter Gamertag">
                <button @click="getPlayerStats" class="btn btn-outline-secondary" type="button" id="button-addon2">Search for Player</button>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div id="" class="form-text">
                Username must be an existing Halo:Infine Xbox Live gamertag.
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <div v-if="playerData.length > 1">
                <h2 class="card-title">{{ playerName }}</h2>
                <hr>
                <div v-for="(player, index) in playerData" class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img :src="player.response.current.tier_image_url"
                        class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <p class="card-text">Queue: {{ player.queue }}</p>
                        <p class="card-text">Input: {{ player.input }}</p>
                        <p class="card-text">CSR: {{ player.response.current.value }}</p>
                        <p class="card-text">Tier: {{ player.response.current.tier }}</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div v-else-if="playerData.length == 0">
                <h1>Welcome! :)</h1>
            </div>
            <div v-else>
                <h1>Sorry, no results found for {{ playerName }}</h1>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    playerName: '',
                    playerData: [],
                    haloApiToken: 'S10bwZipayUbAYawyedLzafZROnYYRcIIdgbcmT2sBDzyAd3TK64xETxqxJm7wDC', 
                }
            },
            methods: {
                async getPlayerStats() {
                    baseUrl = 'https://cryptum.halodotapi.com/games/hi/stats/players/' + this.playerName + '/csrs?season=1'
                    const options = {
                        json: true,
                        headers: {
                            'Authorization': 'Cryptum-Token ' + this.haloApiToken,
                            'Content-Type': 'application/json',
                            'Cryptum-API-Version': '2.3-alpha',
                        }
                    }
                    const res = await fetch(baseUrl, options)
                    const { data } = await res.json()
                    this.playerData = data
                }
            }
        })

        app.mount("#app")
    </script>
</body>
</html>